<%= fields_for :input, pw_request do |f| %>

<div class="form-horizontal">
<%= content_tag :div, class: form_group_class(f.object, :password) do %>
  <%= f.label :password, :class => "col-md-3 control-label input-lg" %>
  <div class="col-md-8">
    <div class="input-group">
      <%= f.password_field :password, value: nil, class: "input_password form-control input-lg store_value", placeholder: PwRequest.human_attribute_name(:password), readonly: f.object.persisted? %>
      <span class="input-group-btn">
        <button class="password_toggle btn btn-default input-lg" type="button" data-toggle="button"><span class="glyphicon glyphicon-eye-close"></span></button>
      </span>
    </div>
    <%= javascript_tag do %>
      jQuery(function(){
        attach_password_toggle()
      });
    <% end %>
    <%= simple_format_error_message(f.object, :password) %>
    <p class="text-muted">
      <%- PwExchange::PasswordCharacters.map(&:join).map do |str| -%>
        <%= content_tag(:small, str, class: "password_char") %>
      <%- end -%>
    </p>
  </div>
<% end %>
<div class="text-warning text-center"><%= t("text.input_field_info") %></div>


<%- if f.object.new_record? || f.object.email.present? -%>
<hr />

<%= content_tag :div, class: form_group_class(f.object, :email) do %>
  <%= f.label :email, :class => "col-md-3 control-label input-sm" do %>
    <%= f.object.class.human_attribute_name(:email) %><small class="text-muted">（<%= t("text.option") %>）</small>
  <% end %>
  <div class="col-md-8">
    <%= f.email_field :email, value: nil, class: "form-control input-sm store_value email", placeholder: PwRequest.human_attribute_name(:email), readonly: f.object.persisted? %>
    <%= simple_format_error_message(f.object, :email) %>
    <p class="text-muted"><%= t("text.email_info") %></p>
    
    <%- if f.object.new_record? -%>
      <%= javascript_tag do %>
        $(function(){
          mail_check(".email");
        });
      <% end %>
    <%- end -%>
  </div>
<% end %>
<%- end -%>
</div>
<% end %>

<%- if pw_request.persisted? -%>
<%= javascript_tag do %>
  $(function(){
    $('#completeModal').modal('show').on('hidden.bs.modal', function () {
      $("div#step2").slideDown();
      $("div#step3").slideDown("slow");
    });
  });
<% end %>
<div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert btn-success">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t("text.ready") %></h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal"><%= t("text.ready_info") %></button>
      </div>
    </div>
  </div>
</div>
<%- end -%>