<div id="step1" class="panel panel-primary">
  <div class="panel-heading"><h2 class="panel-title"><span>Step 1.</span><%= t("text.recipient_step1_title") %></h2></div>
  <div class="panel-body">
    <div class="input_section">
      <%= fields_for :input, @pw_recipient do |f| %>
        <div class="form-horizontal">
        <%= content_tag :div, class: form_group_class(f.object, :email) do %>
          <%= f.label :email, t("attributes.email"), :class => "col-lg-3 control-label input-lg" %>
          <div class="col-lg-8">
            <%= f.email_field :email, value: nil, class: "form-control input-lg store_value", placeholder: t("attributes.email") %>
            <%= simple_format_error_message(f.object, :email) %>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
    <h5 class="text-warning text-center"><%= t("text.recipient_email_field_info") %></h5>
    <%= form_for @pw_recipient, as: :encrypt, url: pw_recipients_send_mail_path(@pw_recipient.pw_sender.form_token, @pw_recipient.pw_sender.key), remote: true, html: {id: :encrypt_form} do |f| %>
      <%= hidden_field_tag :public_key, KeyManager.my_key.public_key %>
      <%= f.hidden_field :email %>
    <% end %>
    <p class="text-center">
      <%= button_tag type: 'button', id: :encrypt_submit, class: "btn btn-lg btn-success", data: {disable_with: t("text.sending")} do %>
        <%= t("text.encrypt_and_send") %><span class="glyphicon glyphicon-send" style="margin-left: 5px;"></span>
      <% end %>
    </p>
  </div>
</div>