<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PwExchange</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "/bootstrap/css/bootstrap.min", media: "screen" %>
  <%= stylesheet_link_tag "/bootstrap/css/jumbotron-narrow", media: "screen" %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv", "respond.min" %>
  <![endif]-->
</head>
<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li id="locale" class="dropdown">
          <%- current_locale = PwExchange::Locales.detect{|loc| I18n.locale == loc[0] } -%>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= current_locale[1] %> <span class="caret"></span>
          </a>
          <%- PwExchange::Locales.select{|loc| loc != current_locale }.map do |locale| -%>
            <ul class="dropdown-menu">
              <li><a href="#" data-locale="<%= locale[0] %>"><%= locale[1] %></a></li>
            </ul>
          <%- end -%>
        </li>
      </ul>
      <h3 class="text-muted">Password Exchange</h3>
    </div>
    
<%= yield %>

    <div class="footer">
      <p>&copy; Company 2013</p>
    </div>

  </div>
<%= javascript_include_tag "/bootstrap/js/bootstrap.min.js" %>
</body>
</html>
